<div>
  <h2 class="title">{{isFullPeriod ? 'Картки пацієнта' : 'Картка пацієнта'}}</h2>
  <div *ngIf="userCards">
    <div *ngIf="isFullPeriod">
      <div class="block-card-list" *ngFor="let card of userCards">
        <h4>{{card.createdAt.split('.')[0].split('T')}}</h4>
        <h4>Діагноз: {{card.diagnosis}}</h4>
        <h4>Рецепт: {{card.prescription}}</h4>
        <h4>Направлення: {{card.referral}}</h4>
        <hr>
      </div>



      <div>

      <div style="width: 100vw; height: 100vh"></div>

      </div>
    </div>
    <div class="block-card-list" *ngIf="!isFullPeriod">
      <h4>{{userCards[userCards.length - 1].createdAt.split('.')[0].split('T')}}</h4>
      <h4>Діагноз: {{userCards[userCards.length - 1].diagnosis}}</h4>
      <h4>Рецепт: {{userCards[userCards.length - 1].prescription}}</h4>
      <h4>Направлення: {{userCards[userCards.length - 1].referral}}</h4>
      <hr>
    </div>
  </div>
</div>
