<div class="p-5 mb-4 bg-body-tertiary rounded-3">
    <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">Про нашу медичну інформаційну систему "Чоппер"</h1>
        <p class="col-md-8 fs-4">"Чоппер" це медична інформаційна система, яка створена для пацієнтів та лікарів з метою облегшеня комунікації
          між лікарями та пацієнтами. Тим самим підвищити ефективність лікування пацієнтів. Цей сайт був розроблений, як курсова робота метою 
          якої була моделювання і дослідження медичної інформаційної системи.</p>
    </div>
</div>
<div class="row align-items-md-stretch">
    <div class="col-md-6">
      <div class="h-100 p-5 text-bg-dark rounded-3">
        <h2>Можливості для пацієнтів</h2>
        <p>Пацієнти на цьому сайті мають декілько функцій можливостей. Пацієнт може переглядати список лікарів, які відфільтровані за спеціальністю,
          також записатись до них на прийом. Пацієнт ще має можливість переглядати свою медичну історію на цьому сайті, або подивитись останні
          зміни історії.</p>
      </div>
    </div>
    <div class="col-md-6">
      <div class="h-100 p-5 bg-body-tertiary border rounded-3">
        <h2>Можливості для лікарів</h2>
        <p>Лікарі на цьому сайті мають декілько можливостей, а саме: Створювати графік прийомів до нього самого, який пацієнт може переглядати, а
          потім обирати доступний час. Переглядати графік прийому і хто записаний на даний час. Записувати медичні дані до медичних електроних 
          карток пацієнтів.</p>
      </div>
    </div>
  </div>
  