<div class="p-5 mb-4 bg-body-tertiary rounded-3">
    <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">Про нашу медичну інформаційну систему "Чоппер"</h1>
        <p class="col-md-8 fs-4">Чоппер – це медична інформаційна система створення для дослідження медичних інформаційних систем та розробки такої
          системи, для покращення ефеткивності надання медичної допомоги. З врахуванням недоліків відсутності використання медичної інформаційної 
          системи та превагами використання такої системи.</p>
    </div>
</div>
<div class="row align-items-md-stretch">
    <div class="col-md-6">
      <div class="h-100 p-5 text-bg-dark rounded-3">
        <h2>Можливості для пацієнтів</h2>
        <p>Пацієнти мають наступний функціонал: забезпечення безпеки використання і збереження медичних та особистих даних; записа на прийом до
          лікаря, та перегляд інформацію про нього; перегляд особистих медичних даних.</p>
      </div>
    </div>
    <div class="col-md-6">
      <div class="h-100 p-5 bg-body-tertiary border rounded-3">
        <h2>Можливості для лікарів</h2>
        <p>Лікарі також як і пацієнти мають забезпечення безпеки даних. Також мають функціонал а саме: створення особистих графіків прийому до
          них; Перегляд графіку та осіб які до них записались; Додавання до медичних карток пацієнтів данні про діагноз, направлення та рецепту.</p>
      </div>
    </div>
  </div>
  