.side-bar-wrap {
  a {
    color: white;
    text-decoration: none;
    transition: 0.3s;
    cursor: pointer;
  }
  a:hover{
    scale: 1.1;
    transition: 0.3s;
  }
  a:active{
    color: #FFC107;
    transition: .3s;
  }
}
