<div class="title" *ngIf="specialty">
  <h2>Specialty is {{specialty}}</h2>
</div>
<div *ngIf="doctorsBySpecialty">
  <div *ngFor="let doctor of doctorsBySpecialty" class="doctor-item">
    <h2 class="name">{{doctor.name}}</h2>
    <h4>{{doctor.email}}</h4>
    <h4>{{doctor.phone}}</h4>
    <h4>{{doctor.gender}}</h4>
    <h4>{{doctor.birth}}</h4>
    <h4>{{doctor.specialty}}</h4>
    <button class="btn btn-success" (click)="chooseList(doctor._id)">Go to admission timetable</button>
    <app-timetable [doctor]="doctor" *ngIf="isVisibleList && doctorId === doctor._id"></app-timetable>
    <hr>
  </div>
</div>
