<div>
  <h2 class="title">Список доступного часу:</h2>
  <div class="conteiner" *ngIf="timetable && timetable !== [];else nolist">
    <div class="conteiner-elements" *ngFor="let time of timetable">
      <h4>{{time.day}}</h4>
      <div>
        <button class="btn btn-success" [disabled]="time.isChecked || timetableId === time._id"
                (click)="timetableId = time._id"
                >{{time.time.replace('.', ':')}}
        </button>
        <div *ngIf="timetableId === time._id" style="display: flex">
          <mat-icon (click)="chooseTime(time)" >check</mat-icon>
          <mat-icon (click)="timetableId = null">cancel</mat-icon>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #nolist>Не має доступного часу</ng-template>
